## Python Strings are like immutable list of characters

**Python strings are like (immutable) list of characters.** Almost all list things will work for strings except the ones that modify/delete/append. You can modify individual characters of a given string or remove individual charaters. Also you cannot add more characters at either end. **All string operators/methods that return a modified string return a new string**

In [1]:
s = "hello"

# length of the string
len(s)

5

In [2]:
# indexed individual character access

s = "java"

# indexed access to individual characters
# negative index means access from the end. Basically add len(s) to the negative index
print(s[0], s[1], s[2], s[-1])

j a v a

In [3]:
# slicing a string

s = "javascript"

# [start, end)
print(s[0:4])

# [start, end) with step (default start is 0 and default stop is len(s))

print(s[0::2])

# when step is negative, start is len(s) and stop is 0
# following reverses the string
print(s[::-1])

java
jvsrp
tpircsavaj

In [4]:
# iterator each character of the string

for i in "hello":
    print(i)

h
e
l
l
o

##  Character or substring check

In [5]:
# in, not in operators check if a particular character or substring exists in a string

s = "The quick brown fox jumps over the lazy dog"
print("q" in s)
print("over" in s)
print("Fox" not in s)
print("jump" not in s)
print("p" not in s)

True
True
True
False
False

## Splitting a string into a list of strings

In [6]:
s = "The quick brown fox jumps over the lazy dog"

words = s.split()
print(type(words))
print(words)

# by default split splits on blank character. But we can pass
# a different separator to split

s = "2,66,77"
print(s.split(","))

<class 'list'>
['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['2', '66', '77']

## Joining a list of strings to form a single string

In [7]:
# we can join a list of strings with a specific separator

print(" ".join(['apple', 'banana', 'grapes']))

# form a comma separated string
s = ",".join(['apple', 'banana', 'grapes'])
print(type(s))
print(s)

# form a colon separated string
s = ":".join(["ani", "jana"])
print(s)

day = "2"
month = "5"
year = "2001"
# use hyphen as joining character
s = "-".join([day, month, year])
print(s)

apple banana grapes
<class 'str'>
apple,banana,grapes
ani:jana
2-5-2001

## Searching for substring in a string

In [8]:
# search for a substring and get its index
s = "The quick brown fox jumps over the lazy dog"

print(s.find("quick"))
print(s.find("ove"))

# -1 if the substring does not exist in the main string
print(s.find("man"))

# search string from the end 

s = "rose is a rose is a rose"
print(s.find("rose"))
# reverse find with rfind
print(s.rfind("rose"))

4
26
-1
0
20

## Find and replace a substring to create a new string

In [9]:
# use replace to a substring with another string

s = "The quick brown lion jumps over the lazy dog"
print(s)

# oops! That's fox and not lion. Replace it!
print(s.replace("lion", "fox"))

# multiple replaces
s = "weed is a weed is a weed"
print(s)

# oops! that is not weed but rose!
print(s.replace("weed", "rose"))

The quick brown lion jumps over the lazy dog
The quick brown fox jumps over the lazy dog
weed is a weed is a weed
rose is a rose is a rose

## String character case related methods

In [10]:
# upper, lower, isupper, islower
s = "Java"

# upper returns all uppercase version
print(s.upper())

# lower returns all lowercase version
print(s.lower())

# check if it is all lowercase
print(s.islower())

# check if it is all uppercase
print(s.isupper())

JAVA
java
False
False

In [11]:
s = "java"
# return a new string with first char in uppercase
print(s.capitalize())

Java

## Checking for digit, alphabetic, alphanumeric characters

In [12]:

s = "foobar"
d = "4353454"

# are all characters digits?
print(s.isdigit())
print(d.isdigit())

# are all characters alphabetic?
print(s.isalpha())
print(d.isalpha())

# are all characters alphanumeric?
print(s.isalnum())
print(d.isalnum())

# email id has '@' and so not alphanumeric!
print("ani@exmaple.com".isalnum())

False
True
True
False
True
True
False

## Python Strings are immutable

In [13]:
s = "hello"

# attempt to change a particular character
s[0] = 'a'

TypeError: 'str' object does not support item assignment

In [14]:
s = "hello"

# attempt to delete a slice
del s[2:]

TypeError: 'str' object does not support item deletion

## String concatenation is by + operator. String repetition by * operator.

In [15]:
h = "hello"
w = "world"

# add two strings to create a new concatenated string
print(h + w)

# multiply an integer with string 
print(5 * h)

# multiply a sting with integer 
print(w * 10)

helloworld
hellohellohellohellohello
worldworldworldworldworldworldworldworldworldworld

# strip whitespace characters

In [16]:
s = "    hello    "

print(s)
print(len(s))

# create a new string with left spaces removed
# add "." at the end to visualize that right spaces are intact
print("after lstrip:", s.lstrip() + ".")
print(len(s.lstrip()))

# create a new string with right spaces removed
print("after rstrip:", s.rstrip() + ".")
print(len(s.rstrip()))

# strip spaces from both left and right ends
print("after strip:", s.strip() + ".")
print(len(s.strip()))

    hello
13
after lstrip: hello    .
9
after rstrip:     hello.
9
after strip: hello.
5

## Formatted printing using string format method

print method is used to print output. by default, print prints single space between arguments and puts a newline at the end. We can customize this by passing "sep" and "end" named arguments to print call

In [18]:
print(34, 66)

# colon separated output
print(34, 66, sep=":")

# comma separated output
print(34, 55, sep=",")

# no newline at the end. end argument to customize what is printed at the end
print("hello", end="")

# now print 55 and a newline
print(55)

34 66
34:66
34,55
hello55

### But if you want more control on what is printed at the terminal/console, you can use "format" method

In [19]:
# a format string has "holes" (aka placeholders) like {number}
# Each hole needs to be filled using "format" method call
s = "My name is {0}. I'm of age {1}"

# format fills holes {0}, {1} with specified arguments and
# returns a new formatted string
t = s.format("ani", 19)

# print the formatted string
print(t)

# fill holes {0}, {1} with the specified arguments
t = s.format("jana", 15)
# print the formatted string
print(t)

# format holes need not be specified by numbers - we can use names instead
s = "My name is {name}. I'm of age {age}"

# fill the holes
t = s.format(name="ani", age=19)
print(t)

My name is ani. I'm of age 19
My name is jana. I'm of age 15
My name is ani. I'm of age 19

## Python sets

Python sets model the concept of mathematical sets. Sets are **unordered collections of unique elements**.

    * Sets have unique elements (no duplicates).
    * There is no order (unordered) among set elements (set elements are iterated in random order)
    * There is no indexed access to set elements (no [] operator access)
    
Python sets are created by familiar math like set syntax - comma separated elements with braces around { }

```
    s = { element1, element2, element3 }
```

In [20]:
# no duplicates! Duplicates ignored
s = { 3, 45, 7, 45}

print(s)
print(len(s))

{3, 45, 7}
3

In [23]:
# This is *not* an empty set! This is empty dictionary

s = {}
print(type(s))

<class 'dict'>

In [24]:
# if you want empty set, use set constructor with no arguments

s = set()
print(type(s))

<class 'set'>

In [25]:
# set iterates elements in random order
s = { "red", "green", "blue" }
for i in s:
    print(i)

red
blue
green

In [26]:
s[0]

TypeError: 'set' object is not subscriptable

## Operators on sets

The following operators are supported on sets

    * |
        This is "or". set union operation
    * &
        This is "and". set intersection operation
    * -
        This is set difference operation (A and not B)
    * ^
        This is symmetric difference operation (A and not B) or (B and not A)

In [27]:
a = { 1, 3, 5 }
b = { 2, 5, 6 }

# a union b
a | b

{1, 2, 3, 5, 6}

In [28]:
# a intersection b

a & b

{5}

In [29]:
# a and not b

a - b

{1, 3}

In [30]:
# (a and not b) or (b and not a)
# this is same as (a | b) - (a & b)

a ^ b

{1, 2, 3, 6}

In [31]:
(a | b) - (a & b)

{1, 2, 3, 6}

## Set assignment operators


    * |=
        a |= b is same as a = a | b
    * &= 
        a &= b is same as a = a & b
    * -=
        a -= b is same as a = a - b      
    * ^=
        a ^= b is same as a = a ^ b

In [32]:
print(a, b)
a |= b
print(a)

{1, 3, 5} {2, 5, 6}
{1, 2, 3, 5, 6}

In [33]:
a &= b
print(a)

{2, 5, 6}

## Set membership check with in and not in operators

    value in s

evaluates to true if the value is present in the set s

    value not in s
    
evaluates to true if the value is not present in the set s

In [34]:
primary = { "green", "red", "blue" }
"red" in primary

True

In [35]:
"orange" in primary

False

In [36]:
"orange" not in primary

True

In [37]:
"red" not in primary

False

## Set clear to remove all elements

In [38]:
## clear all elements in the set
primary.clear()
primary

set()

## Create set with set constructor and then add elements

In [39]:
s = set()
print(s)
s.add(34)
s.add(22)
print(s)

set()
{34, 22}

In [40]:
# create a set from a list

# duplicates, if any, will be removed
s = set([34, 56, 67, 67])
print(s)

# fancy way of creating empty set from an empty list :)
s = set([])
print(s)

{56, 34, 67}
set()

In [41]:
# Python string is a like a (immutable) list of characters. 
# so you can create a set from a string - in which case you're creating
# a set of characters (with duplicates removed, if any)

s = set("hello")
print(s)

s = set("world")
print(s)

{'e', 'l', 'o', 'h'}
{'d', 'o', 'r', 'w', 'l'}

## Python sets can be created by set comprehension as well

Set comprehension is a way to create set using for loop inside set initial expression:

```python
    # set of squares of [0, 100)
    s = { i*i for i in range(0, 100) }
```

In [42]:
s = { i*i  for i in range(0, 100) }
print(s)

{0, 1, 1024, 4096, 4, 9216, 9, 16, 529, 3600, 4624, 25, 36, 2601, 49, 7225, 3136, 64, 576, 1089, 1600, 2116, 5184, 6724, 7744, 9801, 81, 8281, 6241, 100, 625, 121, 4225, 1156, 8836, 3721, 144, 1681, 2704, 5776, 4761, 2209, 676, 169, 3249, 9409, 196, 1225, 5329, 729, 225, 1764, 7396, 6889, 7921, 2809, 256, 2304, 6400, 3844, 4356, 784, 1296, 8464, 289, 3364, 4900, 5929, 1849, 9025, 324, 841, 1369, 2401, 2916, 5476, 361, 3969, 900, 9604, 4489, 400, 1936, 7056, 7569, 3481, 6561, 1444, 8100, 5041, 441, 961, 2500, 6084, 8649, 3025, 484, 2025, 1521, 5625}

In [43]:
# In set comprehension, if condition may be added at the end to filter out the generated values!

# squares of [0, 100) but only if the square is odd
s = { i*i for i in range(0, 100) if i*i % 2 != 0}
print(s)

{1, 3969, 4225, 9, 3721, 4489, 5625, 529, 1681, 7569, 25, 3481, 4761, 289, 2209, 6561, 169, 2601, 5929, 49, 3249, 5041, 2809, 441, 1849, 7225, 961, 1089, 9025, 9409, 841, 1225, 8649, 9801, 81, 3025, 5329, 1369, 729, 8281, 225, 2401, 6241, 361, 2025, 6889, 625, 1521, 7921, 121}

## Python tuples

Python **tuples are immutable sequence of values**. Once created, we cannot add/delete or change element values. But element values are ordered and duplicates are allowed. tuple elements are accessed just like list elements ([] operator with index and [] operator for slicing)

Tuples are comma separated values with **optionally parenthesis** around. Parens are needed for nested tuples/tuples in lists and so on.

In [44]:
s = (4, 556)
print(s)

# this is also a tuple
s = "hello", "world"
print(s)

(4, 556)
('hello', 'world')

In [45]:
s[0]

'hello'

In [46]:
s[1]

'world'

In [47]:
s[-1]

'world'

In [48]:
s[:]

('hello', 'world')

## Python tuples are immutable

In [49]:
s[0] = 33

TypeError: 'tuple' object does not support item assignment

In [50]:
del s[0]

TypeError: 'tuple' object doesn't support item deletion

In [51]:
s.append(4)

AttributeError: 'tuple' object has no attribute 'append'

# Multiple assignment syntax works via tuple

In [52]:
# Tuple assignment

# 4 is assignment to a, "hello" is assigned to b
(a, b) = (4, "hello")
print(a)
print(b)

4
hello

## Python mutiple assignment is tuple assignment

In [53]:
# Tuple assignment - no need for paren (comma separated values is a tuple)

a, b = 4, "hello"
print(a)
print(b)

4
hello

# Multiple assignment syntax works with list as well

In [54]:
[a, b] = 5, "world"
print(a)
print(b)

5
world

## Implementing queues using python lists

**Queue is a sequence where you add elements at one end (called "tail or rear end"). But we remove elements from the other end (called "head or front end")**. (**"First In First Out" - FIFO** discipline). We can implement queues using Python lists.

Queues have two important operations:

    * addq
        add an element into the queue at the tail or rear end
    * removeq
        remove the first element (at the head end) from the queue and return it

In [55]:
# Implementing queue with Python lists

# addq is just insert at the begin. i.e., we use list start as the "rear"/"tail" end of the queue

q = [2, 5, 67]
q.insert(0, 12)
print(q)

# removeq is just pop. => we use list end as queue's "head"/"front" end
q.pop()
print(q)

q.pop()
print(q)

q.insert(0, 13)
print(q)

[12, 2, 5, 67]
[12, 2, 5]
[12, 2]
[13, 12, 2]